# Advanced Certification in AIML
## A Program by IIIT-H and TalentSprint

## Learning Objective



At the end of this experiment, you will be able to :

* Use Pandas Library

## Dataset

### Description

The dataset choosen for this exercise is a employee dataset. The dataset contains following information regarding a particular employee:

* Emp ID
* Name Prefix
* First Name
* Middle Initial
* Last Name
* Gender 
* E Mail
* Father's Name
* Mother's Name
* Mother's Maiden Name
* Date of Birth
* Time of Birth
* Age in Yrs
*  Weight in Kgs
* Date of Joining
* Quarter of Joining
* Half of Joining 
* Year of Joining
* Month of Joining
* Month Name of Joining
* Short Month
* Day of Joining
* DOW of Joining
* Short DOW
* Age in Company (Years)
* Salary
* Last % Hike
* SSN
* Phone No
* Place Name
* CountyCity,
* State
* Zip
* Region
* User Name
* Password


Dataset is taken from http://eforexcel.com/wp/downloads-16-sample-csv-files-data-sets-for-testing/

## Setup Steps

In [0]:
#@title Please enter your registration id to start: (e.g. P181900101) { run: "auto", display-mode: "form" }
Id = "P181902118" #@param {type:"string"}

In [0]:
#@title Please enter your password (normally your phone number) to continue: { run: "auto", display-mode: "form" }
password = "8860303743" #@param {type:"string"}

In [6]:
#@title Run this cell to complete the setup for this Notebook
from IPython import get_ipython

ipython = get_ipython()
  
notebook="Experiment_B_Introduction_to_Pandas" #name of the notebook
Answer = "Ungraded"
def setup():
#  ipython.magic("sx pip3 install torch")
    ipython.magic("sx wget https://cdn.talentsprint.com/aiml/Experiment_related_data/Employee.csv")
    ipython.magic("sx wget https://cdn.talentsprint.com/aiml/Experiment_related_data/Large_employee.csv")
    from IPython.display import HTML, display
    display(HTML('<script src="https://dashboard.talentsprint.com/aiml/record_ip.html?traineeId={0}&recordId={1}"></script>'.format(getId(),submission_id)))
    print("Setup completed successfully")
    return

def submit_notebook():
    
    ipython.magic("notebook -e "+ notebook + ".ipynb")
    
    import requests, json, base64, datetime

    url = "https://dashboard.talentsprint.com/xp/app/save_notebook_attempts"
    if not submission_id:
      data = {"id" : getId(), "notebook" : notebook, "mobile" : getPassword()}
      r = requests.post(url, data = data)
      r = json.loads(r.text)

      if r["status"] == "Success":
          return r["record_id"]
      elif "err" in r:        
        print(r["err"])
        return None        
      else:
        print ("Something is wrong, the notebook will not be submitted for grading")
        return None

    elif getAnswer() and getComplexity() and getAdditional() and getConcepts():
      f = open(notebook + ".ipynb", "rb")
      file_hash = base64.b64encode(f.read())

      data = {"complexity" : Complexity, "additional" :Additional, 
              "concepts" : Concepts, "record_id" : submission_id, 
              "answer" : Answer, "id" : Id, "file_hash" : file_hash,
              "notebook" : notebook}

      r = requests.post(url, data = data)
      r = json.loads(r.text)
      print("Your submission is successful.")
      print("Ref Id:", submission_id)
      print("Date of submission: ", r["date"])
      print("Time of submission: ", r["time"])
      print("View your submissions: https://iiith-aiml.talentsprint.com/notebook_submissions")
      print("For any queries/discrepancies, please connect with mentors through the chat icon in LMS dashboard.")
      return submission_id
    else: submission_id
    

def getAdditional():
  try:
    if Additional: return Additional      
    else: raise NameError('')
  except NameError:
    print ("Please answer Additional Question")
    return None

def getComplexity():
  try:
    return Complexity
  except NameError:
    print ("Please answer Complexity Question")
    return None
  
def getConcepts():
  try:
    return Concepts
  except NameError:
    print ("Please answer Concepts Question")
    return None

def getAnswer():
  try:
    return Answer
  except NameError:
    print ("Please answer Question")
    return None

def getId():
  try: 
    return Id if Id else None
  except NameError:
    return None

def getPassword():
  try:
    return password if password else None
  except NameError:
    return None

submission_id = None
### Setup 
if getPassword() and getId():
  submission_id = submit_notebook()
  if submission_id:
    setup()
    from IPython.display import HTML
    HTML('<script src="https://dashboard.talentsprint.com/aiml/record_ip.html?traineeId={0}&recordId={1}"></script>'.format(getId(),submission_id))
  
else:
  print ("Please complete Id and Password cells before running setup")

Setup completed successfully

## Exercise 1

### a) Load the dataset

In [0]:
dataset = "Employee.csv"

In [8]:
# Your Code Here
print(dataset)
import pandas as pd

df = pd.read_csv(dataset)
print(df[:5])

Employee.csv
   Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
0  677509        Drs.       Lois              H    Walker      F
1  940761         Ms.     Brenda              S  Robinson      F
2  428945         Dr.        Joe              W  Robinson      M
3  408351        Drs.      Diane              I     Evans      F
4  193819         Mr.   Benjamin              R   Russell      M

                         E Mail     Father's Name       Mother's Name  \
0       lois.walker@hotmail.com     Donald Walker        Helen Walker
1     brenda.robinson@gmail.com  Raymond Robinson       Judy Robinson
2        joe.robinson@gmail.com    Scott Robinson  Stephanie Robinson
3         diane.evans@yahoo.com       Jason Evans      Michelle Evans
4  benjamin.russell@charter.net   Gregory Russell   Elizabeth Russell

  Mother's Maiden Name       ...                SSN    Phone No.   \
0                Lewis       ...        467-99-4677  303-572-8492
1                Perry       ...        537-71-4566  225-945-4954
2               Taylor       ...        025-92-3584  219-904-2161
3                Allen       ...        314-35-9851  215-793-6791
4               Nelson       ...        121-98-7248  262-404-2252

     Place Name    County          City State    Zip     Region   User Name  \
0        Denver    Denver        Denver    CO  80224       West    lhwalker
1     Stonewall   De Soto     Stonewall    LA  71078      South  bsrobinson
2  Michigantown   Clinton  Michigantown    IN  46057    Midwest  jwrobinson
3      Hydetown  Crawford      Hydetown    PA  16328  Northeast     dievans
4       Fremont   Waupaca       Fremont    WI  54940    Midwest   brrussell

         Password
0   DCa}.T}X:v?NP
1   TCo\j#Zg;SQ~o
2    GO4$J8MiEh[A
3   0gGRtp1HfL<r5
4  Rd<Y8cp!@R;*%F

[5 rows x 37 columns]

### b) Display first 5 entries from the dataset

In [9]:
# Your Code Here
print(df[:5])

   Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
0  677509        Drs.       Lois              H    Walker      F
1  940761         Ms.     Brenda              S  Robinson      F
2  428945         Dr.        Joe              W  Robinson      M
3  408351        Drs.      Diane              I     Evans      F
4  193819         Mr.   Benjamin              R   Russell      M

                         E Mail     Father's Name       Mother's Name  \
0       lois.walker@hotmail.com     Donald Walker        Helen Walker
1     brenda.robinson@gmail.com  Raymond Robinson       Judy Robinson
2        joe.robinson@gmail.com    Scott Robinson  Stephanie Robinson
3         diane.evans@yahoo.com       Jason Evans      Michelle Evans
4  benjamin.russell@charter.net   Gregory Russell   Elizabeth Russell

  Mother's Maiden Name       ...                SSN    Phone No.   \
0                Lewis       ...        467-99-4677  303-572-8492
1                Perry       ...        537-71-4566  225-945-4954
2               Taylor       ...        025-92-3584  219-904-2161
3                Allen       ...        314-35-9851  215-793-6791
4               Nelson       ...        121-98-7248  262-404-2252

     Place Name    County          City State    Zip     Region   User Name  \
0        Denver    Denver        Denver    CO  80224       West    lhwalker
1     Stonewall   De Soto     Stonewall    LA  71078      South  bsrobinson
2  Michigantown   Clinton  Michigantown    IN  46057    Midwest  jwrobinson
3      Hydetown  Crawford      Hydetown    PA  16328  Northeast     dievans
4       Fremont   Waupaca       Fremont    WI  54940    Midwest   brrussell

         Password
0   DCa}.T}X:v?NP
1   TCo\j#Zg;SQ~o
2    GO4$J8MiEh[A
3   0gGRtp1HfL<r5
4  Rd<Y8cp!@R;*%F

[5 rows x 37 columns]

### c) How many  records are there in the dataset?

In [10]:
# Your Code Here
print("number of rows - ", df.shape[0])

number of rows -  100

### d) How many columns are there in the dataset?

In [11]:
# Your Code Here
print("number of columns - ", df.shape[1])

number of columns -  37

### e) Print the name of all the columns

In [12]:
# Your Code Here
print(df.columns.values)

['Emp ID' 'Name Prefix' 'First Name' 'Middle Initial' 'Last Name' 'Gender'
 'E Mail' "Father's Name" "Mother's Name" "Mother's Maiden Name"
 'Date of Birth' 'Time of Birth' 'Age in Yrs.' 'Weight in Kgs.'
 'Date of Joining' 'Quarter of Joining' 'Half of Joining'
 'Year of Joining' 'Month of Joining' 'Month Name of Joining'
 'Short Month' 'Day of Joining' 'DOW of Joining' 'Short DOW'
 'Age in Company (Years)' 'Salary' 'Last % Hike' 'SSN' 'Phone No. '
 'Place Name' 'County' 'City' 'State' 'Zip' 'Region' 'User Name'
 'Password']

### f) What is  the name of 20th column ?

In [13]:
# Your Code Here
cols = df.columns.values
print(cols[19])

Month Name of Joining

### g) What is  the datatype of each column?

In [14]:
# Your Code Here
print(df.dtypes)

Emp ID                      int64
Name Prefix                object
First Name                 object
Middle Initial             object
Last Name                  object
Gender                     object
E Mail                     object
Father's Name              object
Mother's Name              object
Mother's Maiden Name       object
Date of Birth              object
Time of Birth              object
Age in Yrs.               float64
Weight in Kgs.              int64
Date of Joining            object
Quarter of Joining         object
Half of Joining            object
Year of Joining             int64
Month of Joining            int64
Month Name of Joining      object
Short Month                object
Day of Joining              int64
DOW of Joining             object
Short DOW                  object
Age in Company (Years)    float64
Salary                      int64
Last % Hike                object
SSN                        object
Phone No.                  object
Place Name                 object
County                     object
City                       object
State                      object
Zip                         int64
Region                     object
User Name                  object
Password                   object
dtype: object

### h) Display the columns 4 to 9 for rows 7 to 13

In [15]:
# Your Code Here
print(df.iloc[7:14, 4:10])

    Last Name Gender                        E Mail      Father's Name  \
7      Murphy      F        carol.murphy@gmail.com      Eugene Murphy
8       Young      F       frances.young@gmail.com         Fred Young
9    Peterson      F  diana.peterson@hotmail.co.uk  Jonathan Peterson
10     Flores      M        ralph.flores@yahoo.com       Terry Flores
11  Alexander      M      jack.alexander@gmail.com   Samuel Alexander
12       King      F      melissa.king@comcast.net        Philip King
13     Watson      M        wayne.watson@gmail.com      Ronald Watson

         Mother's Name Mother's Maiden Name
7     Katherine Murphy             Peterson
8        Lillian Young                 Diaz
9   Christina Peterson                 Ross
10     Michelle Flores                Moore
11    Sharon Alexander               Walker
12          Maria King                White
13     Margaret Watson                Hayes

### i) Display all the rows after 50th row

In [0]:
# Your Code Here
print(df[50:])

### j) Display the columns 10 to 12  for first 50 rows

In [17]:
# Your Code Here
print(df.iloc[:50, 10:13])

   Date of Birth Time of Birth  Age in Yrs.
0      3/29/1981   02:31:49 AM        36.36
1      7/31/1970   12:13:27 PM        47.02
2      6/16/1963   10:45:36 AM        54.15
3      12/4/1977   02:18:45 AM        39.67
4      4/17/1977   05:41:11 PM        40.31
5      9/27/1982   01:12:41 PM        34.86
6      6/13/1995   08:56:32 PM        22.14
7      6/30/1958   10:39:33 AM        59.12
8       6/9/1959   04:38:47 PM        58.18
9     11/13/1987   03:59:26 AM        29.73
10      2/5/1975   02:15:50 AM        42.50
11     5/19/1995   04:33:57 PM        22.21
12     2/24/1972   06:04:57 PM        45.45
13     6/26/1996   12:23:21 AM        21.10
14     2/23/1958   06:59:29 PM        59.47
15     8/22/1966   08:11:15 PM        50.97
16     5/18/1970   03:47:46 AM        47.23
17     12/5/1992   09:20:52 AM        24.66
18     7/15/1959   09:24:39 PM        58.08
19     10/4/1967   08:28:14 PM        49.85
20    12/14/1994   09:28:36 AM        22.64
21    10/26/1993   01:37:48 AM        23.77
22    11/20/1972   11:14:04 AM        44.72
23      5/1/1980   01:08:30 PM        37.27
24     3/10/1958   12:52:37 PM        59.42
25     7/29/1989   02:57:12 AM        28.02
26      1/1/1990   07:24:56 PM        27.59
27      7/7/1969   03:46:56 PM        48.09
28     3/19/1975   11:07:50 PM        42.39
29     12/6/1963   03:15:30 AM        53.68
30     5/12/1981   12:00:55 AM        36.24
31     6/16/1981   04:20:22 AM        36.14
32     8/31/1993   12:23:15 AM        23.92
33      5/8/1991   12:13:48 AM        26.24
34     7/28/1993   06:30:29 AM        24.02
35     12/1/1967   01:45:41 AM        49.69
36     2/10/1969   03:42:13 AM        48.49
37     9/14/1983   05:05:35 AM        33.89
38    12/22/1973   02:18:24 PM        43.63
39     8/22/1961   02:54:56 AM        55.97
40     6/21/1962   12:02:11 AM        55.14
41     7/29/1982   02:43:26 AM        35.02
42      1/4/1985   02:25:34 PM        32.58
43    12/11/1978   09:46:54 PM        38.65
44     8/15/1964   05:45:35 AM        52.99
45    11/14/1983   02:51:17 AM        33.73
46     11/9/1989   10:28:03 PM        27.73
47     3/25/1961   05:49:46 AM        56.38
48    11/10/1993   03:06:00 AM        23.73
49     4/14/1996   03:43:43 AM        21.30

###  k) Display the information of the employees who have  joined in Quarter 1 and 4.

In [18]:
# Your Code Here
print(df[(df['Quarter of Joining'] == "Q1") | 
         (df['Quarter of Joining'] == "Q4")])

    Emp ID Name Prefix   First Name Middle Initial   Last Name Gender  \
0   677509        Drs.         Lois              H      Walker      F
7   380086        Mrs.        Carol              V      Murphy      F
9   162402        Hon.        Diana              T    Peterson      F
11  153989       Prof.         Jack              C   Alexander      M
12  386158        Mrs.      Melissa              Q        King      F
14  441771        Mrs.       Cheryl              O       Scott      F
17  214352         Ms.      Theresa              G         Lee      F
18  890290        Hon.        Julia              S       Scott      F
21  969580       Prof.      Matthew              L      Turner      M
22  426038        Hon.         Joan              C     Stewart      F
25  477253        Mrs.         Anne              L     Russell      F
26  263480        Hon.       Daniel              K      Cooper      M
27  683826         Mr.        Roger              L     Roberts      M
28  474599        Drs.        Maria              W      Walker      F
35  333476        Hon.         Mary              P      Wilson      F
44  407061         Ms.    Elizabeth              Q     Jackson      F
46  702813         Mr.       Ernest              D    Martinez      M
47  524896         Ms.         Judy              Y   Hernandez      F
48  363065        Drs.        Nancy              L       Jones      F
50  958326         Mr.        Larry              T      Miller      M
51  447813        Mrs.          Ann              Q     Coleman      F
52  525955        Drs.         Judy              C    Gonzales      F
53  818384         Mr.        Peter              X  Washington      M
54  971640       Prof.     Clarence              A        Ross      M
55  253573         Ms.       Sharon              E       Lopez      F
56  904898        Drs.          Ann              Q      Cooper      F
58  491943        Mrs.        Nancy              P      Howard      F
61  241882         Ms.        Debra              G        Wood      F
63  940922        Hon.      Melissa              X      Butler      F
65  917395        Hon.  Christopher              D      Nelson      M
68  293459         Mr.       Steven              J    Phillips      M
69  732017         Ms.      Cynthia              J     Ramirez      F
71  478003        Hon.      Cynthia              X       White      F
77  870820         Ms.       Martha              G  Washington      F
78  806955         Mr.      William              G   Hernandez      M
79  325319        Hon.      Carolyn              F       Price      F
82  761821         Mr.       Ernest              G  Washington      M
83  400173         Ms.      Dorothy              K     Edwards      F
85  476433         Ms.      Lillian              N    Mitchell      F
87  623929       Prof.        Jimmy              R      Howard      M
89  212893         Ms.        Janet              Y   Henderson      F
90  185032         Mr.       Eugene              D       Perez      M
91  867084         Ms.      Deborah              E       Smith      F
94  489424         Dr.      Phillip              F       White      M
97  461593         Ms.       Nicole              O        Ward      F

                              E Mail       Father's Name       Mother's Name  \
0            lois.walker@hotmail.com       Donald Walker        Helen Walker
7             carol.murphy@gmail.com       Eugene Murphy    Katherine Murphy
9       diana.peterson@hotmail.co.uk   Jonathan Peterson  Christina Peterson
11          jack.alexander@gmail.com    Samuel Alexander    Sharon Alexander
12          melissa.king@comcast.net         Philip King          Maria King
14            cheryl.scott@gmail.com       Richard Scott          Lois Scott
17             theresa.lee@gmail.com            John Lee         Rebecca Lee
18             julia.scott@apple.com      Lawrence Scott           Amy Scott
21          matthew.turner@gmail.com         Jose Turner        Kathy Turner
22            joan.stewart@yahoo.com     Charles Stewart       Julia Stewart
25              anne.russell@ibm.com       Jimmy Russell   Stephanie Russell
26           daniel.cooper@yahoo.com        Louis Cooper        Julie Cooper
27           roger.roberts@gmail.com     Antonio Roberts   Katherine Roberts
28        maria.walker@microsoft.com        Ralph Walker       Teresa Walker
35         mary.wilson@sbcglobal.net       Robert Wilson     Jennifer Wilson
44         elizabeth.jackson@aol.com       Scott Jackson   Catherine Jackson
46         ernest.martinez@gmail.com       Ryan Martinez    Beverly Martinez
47          judy.hernandez@gmail.com      Fred Hernandez    Pamela Hernandez
48             nancy.jones@gmail.com        Eugene Jones        Sandra Jones
50            larry.miller@shell.com      Russell Miller      Mildred Miller
51               ann.coleman@ibm.com      Harold Coleman        Tina Coleman
52           judy.gonzales@gmail.com      Kevin Gonzales     Sharon Gonzales
53           peter.washington@bp.com  Douglas Washington     Jean Washington
54           clarence.ross@apple.com         Arthur Ross         Louise Ross
55            sharon.lopez@gmail.com        Daniel Lopez         Susan Lopez
56         ann.cooper@exxonmobil.com       Harold Cooper      Mildred Cooper
58            nancy.howard@gmail.com      Gregory Howard      Mildred Howard
61            debra.wood@hotmail.com         Martin Wood        Theresa Wood
63        melissa.butler@hotmail.com       Robert Butler         Anne Butler
65        christopher.nelson@aol.com      Jeffrey Nelson      Cynthia Nelson
68       steven.phillips@hotmail.com      Jason Phillips     Gloria Phillips
69    cynthia.ramirez@btinternet.com      Walter Ramirez      Evelyn Ramirez
71           cynthia.white@gmail.com      Nicholas White     Katherine White
77         martha.washington@aol.com     Todd Washington  Carolyn Washington
78  william.hernandez@rediffmail.com     Peter Hernandez   Deborah Hernandez
79           carolyn.price@yahoo.com         Kevin Price      Patricia Price
82         ernest.washington@msn.com   Johnny Washington  Shirley Washington
83     dorothy.edwards@hotmail.co.uk      Dennis Edwards       Betty Edwards
85          lillian.mitchell@shaw.ca      Harry Mitchell      Marie Mitchell
87            jimmy.howard@yahoo.com     Nicholas Howard     Patricia Howard
89      janet.henderson@ntlworld.com     Jerry Henderson     Julie Henderson
90       eugene.perez@exxonmobil.com         Jimmy Perez          Lois Perez
91           deborah.smith@yahoo.com       Richard Smith         Diana Smith
94           phillip.white@gmail.com        Harold White       Frances White
97             nicole.ward@yahoo.com          Ralph Ward          Julia Ward

   Mother's Maiden Name       ...                 SSN    Phone No.   \
0                 Lewis       ...         467-99-4677  303-572-8492
7              Peterson       ...         423-67-7023  216-336-0009
9                  Ross       ...         512-33-6767  479-783-5656
11               Walker       ...         428-99-9413  702-603-3769
12                White       ...         277-17-9106  216-605-3731
14               Watson       ...         596-94-2279  215-288-9345
17               Turner       ...         055-02-9969  319-553-8919
18                 King       ...         251-99-1941  423-939-1010
21                  Cox       ...         598-92-1988  236-972-7624
22              Collins       ...         429-99-6443  216-637-6800
25           Richardson       ...         456-99-5619  605-635-1306
26               Murphy       ...         181-86-2024  701-510-8162
27               Brooks       ...         120-98-6493  206-497-3141
28               Brooks       ...         447-27-3175  423-668-5506
35            Patterson       ...         198-84-0652  423-937-8660
44              Jackson       ...         660-24-4434  603-568-6118
46                 Hill       ...         672-48-7749  479-951-4138
47                Evans       ...         534-71-4481  316-736-6126
48              Jenkins       ...         681-24-3165  212-825-1930
50                 Ward       ...         207-84-9482  217-574-9283
51               Walker       ...         027-92-0557  319-994-4179
52                Perez       ...         029-92-2155  201-640-8645
53            Henderson       ...         039-74-8867  231-322-0316
54           Washington       ...         372-37-5315  423-772-0118
55                Hayes       ...         064-02-2589  304-934-5548
56             Williams       ...         219-89-6310  406-278-6460
58               Flores       ...         035-74-2732  236-973-8086
61                Perry       ...         342-11-6695  308-646-6219
63              Jackson       ...         301-15-9149  308-827-9016
65              Sanders       ...         120-98-6155  480-946-9780
68                Lewis       ...         578-53-9940  225-968-5952
69                Smith       ...         355-08-4606  406-961-7340
71               Turner       ...         364-39-4983  314-593-3092
77                 Reed       ...         416-67-0297  405-945-0242
78                Jones       ...         629-31-9010  239-276-0532
79             Williams       ...         512-33-3410  217-409-4338
82               Harris       ...         178-86-1878  212-596-1659
83               Howard       ...         543-81-2192  215-902-6888
85               Murphy       ...         505-59-3960  316-876-1484
87                Hayes       ...         610-87-0251  212-855-9316
89               Cooper       ...         018-94-7340  239-769-6347
90                 Hall       ...         192-86-6418  262-472-7112
91              Bennett       ...         173-86-6203  907-279-8694
94               Carter       ...         447-27-9469  503-668-6592
97                  Lee       ...         196-84-2551  231-761-7861

          Place Name            County              City State    Zip  \
0             Denver            Denver            Denver    CO  80224
7        Blanchester           Clinton       Blanchester    OH  45107
9     Eureka Springs           Carroll    Eureka Springs    AR  72632
11         Las Vegas             Clark         Las Vegas    NV  89170
12     New Matamoras        Washington     New Matamoras    OH  45767
14          Quecreek          Somerset          Quecreek    PA  15555
17       Toeterville          Mitchell       Toeterville    IA  50481
18     Primm Springs           Hickman     Primm Springs    TN  38476
21       Heathsville    Northumberland       Heathsville    VA  22473
22        Middleport             Meigs        Middleport    OH  45760
25         Stockholm             Grant         Stockholm    SD  57264
26           Manning              Dunn           Manning    ND  58642
27      Mount Vernon            Skagit      Mount Vernon    WA  98273
28      Lawrenceburg          Lawrence      Lawrenceburg    TN  38464
35         Nashville          Davidson         Nashville    TN  37219
44         Rochester         Strafford         Rochester    NH   3867
46         Uniontown          Crawford         Uniontown    AR  72955
47            Topeka           Shawnee            Topeka    KS  66606
48     New York City          New York     New York City    NY  10087
50  East Saint Louis         St. Clair  East Saint Louis    IL  62201
51           Hancock     Pottawattamie           Hancock    IA  51536
52         Eatontown          Monmouth         Eatontown    NJ   7724
53           Portage         Kalamazoo           Portage    MI  49024
54            Oneida             Scott            Oneida    TN  37841
55           Bartley          McDowell           Bartley    WV  24813
56             Arlee              Lake             Arlee    MT  59821
58              Saxe         Charlotte              Saxe    VA  23967
61             Blair        Washington             Blair    NE  68009
63           Maxwell           Lincoln           Maxwell    NE  69151
65      Willow Beach            Mohave      Willow Beach    AZ  86445
68       Baton Rouge  East Baton Rouge       Baton Rouge    LA  70833
69          Browning           Glacier          Browning    MT  59417
71       Kansas City           Jackson       Kansas City    MO  64133
77            Nardin               Kay            Nardin    OK  74646
78       Mary Esther          Okaloosa       Mary Esther    FL  32569
79           Wheaton            DuPage           Wheaton    IL  60189
82      Saranac Lake          Franklin      Saranac Lake    NY  12983
83      Philadelphia      Philadelphia      Philadelphia    PA  19132
85           Wichita          Sedgwick           Wichita    KS  67214
87          Oriskany            Oneida          Oriskany    NY  13424
89             Miami        Miami-Dade             Miami    FL  33166
90            Racine            Racine            Racine    WI  53490
91           Atqasuk       North Slope           Atqasuk    AK  99791
94          Mapleton              Lane          Mapleton    OR  97453
97           Detroit             Wayne           Detroit    MI  48278

       Region     User Name         Password
0        West      lhwalker    DCa}.T}X:v?NP
7     Midwest      cvmurphy     Uc+VG%vuZU<k
9       South    dtpeterson   3o8>v&tYxjyEAo
11       West   jcalexander   9L*-O1U.9mSUSh
12    Midwest        mqking   FE5i<e-Y}[4f78
14  Northeast       coscott      Vbb+~2N|_yR
17    Midwest         tglee   JS#hN&Xij\%QEr
18      South       jsscott       r.:Q7c^Tpb
21      South      mlturner  I>tL>d[|lZdi_|^
22    Midwest     jcstewart   q@mq.U~D#1MPgZ
25    Midwest     alrussell     c8Nk&Y^~Vz!2
26    Midwest      dkcooper   d8p{Pwx2fsW0-Z
27       West     rlroberts  41:C_0ik|Jb0iTO
28      South      mwwalker        cw?%U}s{?
35      South      mpwilson        Pwl&W:|<_
44  Northeast     eqjackson  EAHcnWsf6xMRwr]
46      South    edmartinez  qe?JNGBY{[\7;dD
47    Midwest   jyhernandez  kiB:v!j&?D!&NYY
48  Northeast       nljones    J}HJq/zVF-Aq2
50    Midwest      ltmiller     2WgF#:ew**x#
51    Midwest     aqcoleman        g2]GlvlL5
52  Northeast    jcgonzales   yDl}pfaWs{Hro6
53    Midwest  pxwashington  97%d^2rk41!E>*Q
54      South        caross     h&jmac@+QD?B
55      South       selopez        GsP~S?FYY
56       West      aqcooper       i_^#>]tFpt
58      South      nphoward        OC\&tG&?c
61    Midwest        dgwood  iO8B@*yA*mG6b9o
63    Midwest      mxbutler       hY3BqUR>6F
65       West      cdnelson   QKae{1EP1A[SeX
68      South    sjphillips      ht}X55$P&g1
69       West     cjramirez   qP-#AhuNuz*Wb]
71    Midwest       cxwhite   mofyGR>.?Dwb4!
77      South  mgwashington      ju$7I]eH8{-
78      South   wghernandez     BRB3DFywgZZ4
79    Midwest       cfprice        K*$u@MAoH
82  Northeast  egwashington         B\Wb^6W-
83  Northeast     dkedwards    VWEIm3YKm65|D
85    Midwest    lnmitchell         Ty/b@+;f
87  Northeast      jrhoward   0v+|SfA0Xv+Pf%
89      South   jyhenderson       g-oCs-L/za
90    Midwest       edperez       g]SJn<W_/#
91       West       desmith         C[WxHsB9
94       West       pfwhite   8<Mc.5]eu.*C8.
97    Midwest        noward   AUe6s0@:@]A3Ze

[45 rows x 37 columns]

### l) How many people are from the southern region joined on Monday?

In [19]:
# Your Code Here
# print(df["DOW of Joining"][:1])
# print(df[df['Day of Joining'] == "Monday"])
# reg = df[df["Region"]=="South"]
# print(doj[:5], reg[:5] )
print(df[(df['DOW of Joining'] == "Monday") & (df["Region"]=="South")])

    Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
9   162402        Hon.      Diana              T  Peterson      F
15  528509        Hon.      Paula              G      Diaz      F
20  979607         Ms.      Carol              J   Edwards      F
30  329752        Hon.    Lillian              X     Brown      F
57  515103         Ms.       Anne              A     Perez      F
59  750173         Mr.    Antonio              R   Roberts      M
74  528673        Hon.       Paul              V    Watson      M
76  262382         Ms.     Cheryl              O    Miller      F
81  225925         Mr.       Paul              D    Cooper      M

                          E Mail      Father's Name       Mother's Name  \
9   diana.peterson@hotmail.co.uk  Jonathan Peterson  Christina Peterson
15          paula.diaz@gmail.com          Alan Diaz        Kathryn Diaz
20         carol.edwards@msn.com      Shawn Edwards       Susan Edwards
30         lillian.brown@aol.com         Gary Brown      Virginia Brown
57      anne.perez@sbcglobal.net      Douglas Perez         Doris Perez
59   antonio.roberts@hotmail.com    Timothy Roberts       Diana Roberts
74       paul.watson@hotmail.com        Carl Watson         Anna Watson
76    cheryl.miller@ntlworld.com      Gerald Miller    Christine Miller
81         paul.cooper@gmail.com    Nicholas Cooper        Helen Cooper

   Mother's Maiden Name       ...                SSN    Phone No.   \
9                  Ross       ...        512-33-6767  479-783-5656
15               Powell       ...        234-57-7671  252-531-7641
20                 Gray       ...        316-35-9870  225-283-4295
30                 Wood       ...        249-99-8821  239-812-9041
57               Bailey       ...        594-99-9091  423-837-3338
59            Rodriguez       ...        281-15-7944  205-267-7304
74              Bennett       ...        286-15-9671  270-556-7711
76             Mitchell       ...        287-15-4772  270-880-3858
81                 Hill       ...        613-87-0084  210-984-4722

        Place Name     County            City State    Zip  Region  \
9   Eureka Springs    Carroll  Eureka Springs    AR  72632   South
15      Beulaville     Duplin      Beulaville    NC  28518   South
20      Shreveport      Caddo      Shreveport    LA  71162   South
30         Panacea    Wakulla         Panacea    FL  32346   South
57      Cookeville     Putnam      Cookeville    TN  38505   South
59        Mc Calla  Jefferson        Mc Calla    AL  35111   South
74      Blue River      Floyd      Blue River    KY  41607   South
76            Bays  Breathitt            Bays    KY  41310   South
81         Glidden   Colorado         Glidden    TX  78943   South

     User Name        Password
9   dtpeterson  3o8>v&tYxjyEAo
15      pgdiaz        3Kg55luU
20   cjedwards       wi>v-a9gt
30     lxbrown        CG-M5~z:
57     aaperez        y;n9A#}b
59   arroberts     h>.g!B:VcNN
74    pvwatson    7q{iHhbgWZ7%
76    comiller     Nr-t/.^cWBO
81    pdcooper      hW%ZbJ\fZ-

[9 rows x 37 columns]

### m) Display the information of the employees who have more than 13 years experience in the company

In [20]:
# Your Code Here
# print(df['Age in Company (Years)'])
print(df[df['Age in Company (Years)'] > 13])

    Emp ID Name Prefix   First Name Middle Initial  Last Name Gender  \
0   677509        Drs.         Lois              H     Walker      F
3   408351        Drs.        Diane              I      Evans      F
7   380086        Mrs.        Carol              V     Murphy      F
8   477616        Hon.      Frances              B      Young      F
14  441771        Mrs.       Cheryl              O      Scott      F
15  528509        Hon.        Paula              G       Diaz      F
16  912990         Mr.       Joshua              T    Stewart      M
19  622406         Mr.       Thomas              Q      Lewis      M
24  560455         Ms.      Carolyn              V      Hayes      F
28  474599        Drs.        Maria              W     Walker      F
29  335732         Ms.       Brenda              M     Butler      F
31  893212         Ms.          Amy              B     Howard      F
35  333476        Hon.         Mary              P     Wilson      F
36  218791         Mr.        Aaron              N      Price      M
40  923947         Ms.         Mary              G     Bryant      F
52  525955        Drs.         Judy              C   Gonzales      F
57  515103         Ms.         Anne              A      Perez      F
58  491943        Mrs.        Nancy              P     Howard      F
61  241882         Ms.        Debra              G       Wood      F
65  917395        Hon.  Christopher              D     Nelson      M
70  915638         Dr.        Jason              W   Anderson      M
71  478003        Hon.      Cynthia              X      White      F
74  528673        Hon.         Paul              V     Watson      M
78  806955         Mr.      William              G  Hernandez      M
85  476433         Ms.      Lillian              N   Mitchell      F
91  867084         Ms.      Deborah              E      Smith      F
93  158666         Ms.      Rebecca              A    Stewart      F
97  461593         Ms.       Nicole              O       Ward      F

                              E Mail     Father's Name      Mother's Name  \
0            lois.walker@hotmail.com     Donald Walker       Helen Walker
3              diane.evans@yahoo.com       Jason Evans     Michelle Evans
7             carol.murphy@gmail.com     Eugene Murphy   Katherine Murphy
8            frances.young@gmail.com        Fred Young      Lillian Young
14            cheryl.scott@gmail.com     Richard Scott         Lois Scott
15              paula.diaz@gmail.com         Alan Diaz       Kathryn Diaz
16           joshua.stewart@yahoo.ca      Todd Stewart     Martha Stewart
19            thomas.lewis@gmail.com        Ryan Lewis         Lois Lewis
24       carolyn.hayes@hotmail.co.uk       Jimmy Hayes         Sara Hayes
28        maria.walker@microsoft.com      Ralph Walker      Teresa Walker
29           brenda.butler@gmail.com    Phillip Butler       Joyce Butler
31                amy.howard@aol.com      James Howard    Virginia Howard
35         mary.wilson@sbcglobal.net     Robert Wilson    Jennifer Wilson
36                aaron.price@bp.com     Michael Price        Diana Price
40           mary.bryant@verizon.net     Joshua Bryant       Norma Bryant
52           judy.gonzales@gmail.com    Kevin Gonzales    Sharon Gonzales
57          anne.perez@sbcglobal.net     Douglas Perez        Doris Perez
58            nancy.howard@gmail.com    Gregory Howard     Mildred Howard
61            debra.wood@hotmail.com       Martin Wood       Theresa Wood
65        christopher.nelson@aol.com    Jeffrey Nelson     Cynthia Nelson
70          jason.anderson@gmail.com  Brandon Anderson     Julia Anderson
71           cynthia.white@gmail.com    Nicholas White    Katherine White
74           paul.watson@hotmail.com       Carl Watson        Anna Watson
78  william.hernandez@rediffmail.com   Peter Hernandez  Deborah Hernandez
85          lillian.mitchell@shaw.ca    Harry Mitchell     Marie Mitchell
91           deborah.smith@yahoo.com     Richard Smith        Diana Smith
93         rebecca.stewart@gmail.com     Roger Stewart      Carol Stewart
97             nicole.ward@yahoo.com        Ralph Ward         Julia Ward

   Mother's Maiden Name       ...                 SSN    Phone No.   \
0                 Lewis       ...         467-99-4677  303-572-8492
3                 Allen       ...         314-35-9851  215-793-6791
7              Peterson       ...         423-67-7023  216-336-0009
8                  Diaz       ...         028-92-8912  210-819-9765
14               Watson       ...         596-94-2279  215-288-9345
15               Powell       ...         234-57-7671  252-531-7641
16                Jones       ...         755-07-3676  217-279-9342
19                Price       ...         467-99-2604  314-679-3697
24               Foster       ...         730-28-1350  239-882-8784
28               Brooks       ...         447-27-3175  423-668-5506
29               Thomas       ...         282-15-6434  480-814-8284
31              Collins       ...         686-24-2843  803-613-3168
35            Patterson       ...         198-84-0652  423-937-8660
36               Torres       ...         491-29-5152  219-287-8926
40               Harris       ...         491-29-7461  319-827-3516
52                Perez       ...         029-92-2155  201-640-8645
57               Bailey       ...         594-99-9091  423-837-3338
58               Flores       ...         035-74-2732  236-973-8086
61                Perry       ...         342-11-6695  308-646-6219
65              Sanders       ...         120-98-6155  480-946-9780
70                Baker       ...         048-15-7937  217-856-6752
71               Turner       ...         364-39-4983  314-593-3092
74              Bennett       ...         286-15-9671  270-556-7711
78                Jones       ...         629-31-9010  239-276-0532
85               Murphy       ...         505-59-3960  316-876-1484
91              Bennett       ...         173-86-6203  907-279-8694
93                  Cox       ...         202-84-8294  209-233-7631
97                  Lee       ...         196-84-2551  231-761-7861

      Place Name          County          City State    Zip     Region  \
0         Denver          Denver        Denver    CO  80224       West
3       Hydetown        Crawford      Hydetown    PA  16328  Northeast
7    Blanchester         Clinton   Blanchester    OH  45107    Midwest
8        Delmita           Starr       Delmita    TX  78536      South
14      Quecreek        Somerset      Quecreek    PA  15555  Northeast
15    Beulaville          Duplin    Beulaville    NC  28518      South
16   New Douglas         Madison   New Douglas    IL  62074    Midwest
19     Dutchtown  Cape Girardeau     Dutchtown    MO  63745    Midwest
24   Saint Cloud         Osceola   Saint Cloud    FL  34771      South
28  Lawrenceburg        Lawrence  Lawrenceburg    TN  38464      South
29          Mesa        Maricopa          Mesa    AZ  85208       West
31         Kline           Kline         Kline    SC  29814      South
35     Nashville        Davidson     Nashville    TN  37219      South
36       Eckerty        Crawford       Eckerty    IN  47116    Midwest
40        Conroy            Iowa        Conroy    IA  52220    Midwest
52     Eatontown        Monmouth     Eatontown    NJ   7724  Northeast
57    Cookeville          Putnam    Cookeville    TN  38505      South
58          Saxe       Charlotte          Saxe    VA  23967      South
61         Blair      Washington         Blair    NE  68009    Midwest
65  Willow Beach          Mohave  Willow Beach    AZ  86445       West
70        Hudson          McLean        Hudson    IL  61748    Midwest
71   Kansas City         Jackson   Kansas City    MO  64133    Midwest
74    Blue River           Floyd    Blue River    KY  41607      South
78   Mary Esther        Okaloosa   Mary Esther    FL  32569      South
85       Wichita        Sedgwick       Wichita    KS  67214    Midwest
91       Atqasuk     North Slope       Atqasuk    AK  99791       West
93  Independence            Inyo  Independence    CA  93526       West
97       Detroit           Wayne       Detroit    MI  48278    Midwest

      User Name         Password
0      lhwalker    DCa}.T}X:v?NP
3       dievans    0gGRtp1HfL<r5
7      cvmurphy     Uc+VG%vuZU<k
8       fbyoung      K}^USc0l7[A
14      coscott      Vbb+~2N|_yR
15       pgdiaz         3Kg55luU
16    jtstewart       K?vi9BBznj
19      tqlewis   y;OJd_Oa#4g|!G
24      cvhayes  NY!Y2sw.[_v-Q9{
28     mwwalker        cw?%U}s{?
29     bmbutler     u+CtpZ~gyR*>
31     abhoward         tNo::TEG
35     mpwilson        Pwl&W:|<_
36      anprice      uKxgV4uO&k@
40     mgbryant         A[iR?Z1{
52   jcgonzales   yDl}pfaWs{Hro6
57      aaperez         y;n9A#}b
58     nphoward        OC\&tG&?c
61       dgwood  iO8B@*yA*mG6b9o
65     cdnelson   QKae{1EP1A[SeX
70   jwanderson     a3Hlk+.V/TjD
71      cxwhite   mofyGR>.?Dwb4!
74     pvwatson     7q{iHhbgWZ7%
78  wghernandez     BRB3DFywgZZ4
85   lnmitchell         Ty/b@+;f
91      desmith         C[WxHsB9
93    rastewart   7ONuh3Zi^z#32r
97       noward   AUe6s0@:@]A3Ze

[28 rows x 37 columns]

### n) There is a lot of redundant data. For example, the information in the below columns is also available in the *Date of Joining * column.

  1.   month of Joining
  2.   year of Joining
  3.   Day of Joining 

There could be other such columns containing redundant data. Please identify such columns and take appropriate action. 


You can refer to the below link :

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html

In [21]:
# Your Code Here
df = pd.read_csv(dataset)
print(df.columns.values)
# list1 = df.columns.values

# print((str(each) for each in df.columns.values))
# print(df[['Date of Joining', 'Quarter of Joining' ,'Half of Joining',
#  'Year of Joining', 'Month of Joining' ,'Month Name of Joining',
#  'Short Month' ,'Day of Joining', 'DOW of Joining' ,'Short DOW']][:2])

df=df.drop(['Year of Joining', 'Month of Joining','Day of Joining'],
        axis = 1)
print(df.columns.values)

['Emp ID' 'Name Prefix' 'First Name' 'Middle Initial' 'Last Name' 'Gender'
 'E Mail' "Father's Name" "Mother's Name" "Mother's Maiden Name"
 'Date of Birth' 'Time of Birth' 'Age in Yrs.' 'Weight in Kgs.'
 'Date of Joining' 'Quarter of Joining' 'Half of Joining'
 'Year of Joining' 'Month of Joining' 'Month Name of Joining'
 'Short Month' 'Day of Joining' 'DOW of Joining' 'Short DOW'
 'Age in Company (Years)' 'Salary' 'Last % Hike' 'SSN' 'Phone No. '
 'Place Name' 'County' 'City' 'State' 'Zip' 'Region' 'User Name'
 'Password']
['Emp ID' 'Name Prefix' 'First Name' 'Middle Initial' 'Last Name' 'Gender'
 'E Mail' "Father's Name" "Mother's Name" "Mother's Maiden Name"
 'Date of Birth' 'Time of Birth' 'Age in Yrs.' 'Weight in Kgs.'
 'Date of Joining' 'Quarter of Joining' 'Half of Joining'
 'Month Name of Joining' 'Short Month' 'DOW of Joining' 'Short DOW'
 'Age in Company (Years)' 'Salary' 'Last % Hike' 'SSN' 'Phone No. '
 'Place Name' 'County' 'City' 'State' 'Zip' 'Region' 'User Name'
 'Password']

[link text](https://)### o) Remove "%" sign from the "Last % Hike" column values

you can refer the below link :

https://stackoverflow.com/questions/52850192/python-extract-last-letter-of-a-string-from-a-pandas-column

In [22]:
# Your Code Here
df = pd.read_csv(dataset)
# print(df['Last % Hike'][:2])
# list= [x.strip()[-1] for x in df['Last % Hike']]
# print(list[:2])                       

# for index, x in enumerate(df['Last % Hike']):
#     df['Last % Hike'][index] = x[:-1]
# print(df['Last % Hike'][:2])

# new_df = df
# for i, row in df.iterrows():
# #   print(row['Last % Hike'])
#   new_df['Last % Hike'][i] = row['Last % Hike'][:-1]
# #   print(row['Last % Hike'])
# df = new_df
# print(df['Last % Hike'][:2])

df['Last % Hike'] = df["Last % Hike"].apply(lambda x: int(x.strip("%")))
print(df['Last % Hike'][:2])

0    21
1    27
Name: Last % Hike, dtype: int64

### p) How many Female employees got hike more than 20% ?

In [23]:
# Your Code Here
print(len(df[df['Last % Hike']>20]))

33

### Exercise 2

The dataset chosen for this exercise is the same as above dataset w.r.t to the column names, but, much larger in size. Out of these, there are 70 anomalous data points w.r.t salaries, age and experience (age in a company). Detect those and write them into a separate file.

In [0]:
large_dataset = "Large_employee.csv"
# Your Code Here
import pandas as pd
import numpy as np
from collections import Counter

df = pd.read_csv(large_dataset)
# print(df[:2])
columns = df.columns.values
row = df.values[0]
rowTypes = [type(x) for x in row]
print(columns)
print(list(zip(columns, rowTypes)))
c = Counter(df["Age in Yrs."])  
print(c.values())

['Unnamed: 0' 'Emp ID' 'Name Prefix' 'First Name' 'Middle Initial'
 'Last Name' 'Gender' 'E Mail' "Father's Name" "Mother's Name"
 "Mother's Maiden Name" 'Date of Birth' 'Time of Birth' 'Age in Yrs.'
 'Weight in Kgs.' 'Date of Joining' 'Quarter of Joining' 'Half of Joining'
 'Year of Joining' 'Month of Joining' 'Month Name of Joining'
 'Short Month' 'Day of Joining' 'DOW of Joining' 'Short DOW'
 'Age in Company (Years)' 'Salary' 'Last % Hike' 'SSN' 'Phone No. '
 'Place Name' 'County' 'City' 'State' 'Zip' 'Region' 'User Name'
 'Password']
[('Unnamed: 0', <class 'int'>), ('Emp ID', <class 'int'>), ('Name Prefix', <class 'str'>), ('First Name', <class 'str'>), ('Middle Initial', <class 'str'>), ('Last Name', <class 'str'>), ('Gender', <class 'str'>), ('E Mail', <class 'str'>), ("Father's Name", <class 'str'>), ("Mother's Name", <class 'str'>), ("Mother's Maiden Name", <class 'str'>), ('Date of Birth', <class 'str'>), ('Time of Birth', <class 'str'>), ('Age in Yrs.', <class 'float'>), ('Weight in Kgs.', <class 'int'>), ('Date of Joining', <class 'str'>), ('Quarter of Joining', <class 'str'>), ('Half of Joining', <class 'str'>), ('Year of Joining', <class 'int'>), ('Month of Joining', <class 'int'>), ('Month Name of Joining', <class 'str'>), ('Short Month', <class 'str'>), ('Day of Joining', <class 'int'>), ('DOW of Joining', <class 'str'>), ('Short DOW', <class 'str'>), ('Age in Company (Years)', <class 'float'>), ('Salary', <class 'int'>), ('Last % Hike', <class 'str'>), ('SSN', <class 'str'>), ('Phone No. ', <class 'str'>), ('Place Name', <class 'str'>), ('County', <class 'str'>), ('City', <class 'str'>), ('State', <class 'str'>), ('Zip', <class 'int'>), ('Region', <class 'str'>), ('User Name', <class 'str'>), ('Password', <class 'str'>)]
dict_values([26, 36, 28, 34, 20, 30, 22, 30, 29, 34, 28, 19, 25, 12, 27, 25, 14, 22, 25, 28, 26, 22, 29, 27, 25, 28, 34, 36, 35, 29, 22, 29, 20, 24, 29, 32, 21, 33, 30, 18, 19, 26, 24, 35, 26, 27, 32, 31, 25, 30, 33, 27, 33, 23, 26, 22, 25, 32, 33, 27, 30, 21, 22, 28, 31, 31, 29, 29, 22, 26, 30, 29, 31, 27, 30, 34, 20, 32, 31, 27, 28, 31, 23, 23, 32, 24, 30, 30, 29, 32, 29, 29, 34, 16, 23, 26, 21, 31, 26, 22, 30, 22, 22, 44, 33, 29, 29, 22, 35, 33, 19, 26, 24, 21, 34, 31, 26, 18, 27, 29, 30, 18, 28, 23, 29, 25, 29, 25, 32, 20, 30, 36, 14, 27, 28, 26, 41, 16, 23, 25, 19, 34, 27, 19, 28, 12, 24, 29, 21, 24, 32, 25, 28, 20, 26, 24, 22, 25, 25, 30, 24, 28, 33, 31, 18, 22, 24, 23, 31, 39, 32, 32, 26, 27, 34, 19, 29, 23, 32, 22, 30, 31, 22, 20, 33, 26, 24, 31, 33, 20, 16, 25, 21, 21, 36, 19, 26, 33, 24, 20, 23, 31, 23, 38, 19, 22, 24, 27, 19, 29, 29, 20, 14, 25, 40, 25, 17, 35, 42, 30, 25, 18, 29, 28, 30, 21, 36, 25, 22, 26, 31, 27, 29, 30, 13, 24, 30, 22, 25, 23, 31, 27, 28, 24, 26, 28, 28, 29, 19, 28, 29, 33, 31, 38, 33, 19, 38, 22, 19, 30, 26, 40, 35, 26, 20, 43, 23, 30, 24, 23, 25, 23, 24, 22, 30, 30, 37, 24, 28, 38, 32, 25, 31, 17, 20, 21, 31, 22, 30, 30, 21, 36, 17, 23, 35, 30, 25, 26, 26, 23, 29, 34, 29, 22, 25, 27, 30, 33, 27, 27, 34, 25, 26, 24, 34, 27, 35, 20, 16, 19, 25, 24, 18, 30, 23, 19, 30, 35, 31, 25, 23, 25, 20, 30, 28, 28, 31, 32, 35, 34, 32, 21, 26, 24, 19, 15, 32, 37, 22, 32, 20, 23, 24, 22, 16, 23, 24, 29, 20, 21, 32, 16, 35, 21, 25, 16, 22, 36, 32, 21, 25, 31, 18, 31, 17, 30, 29, 25, 33, 26, 35, 33, 32, 19, 22, 39, 23, 26, 28, 30, 26, 21, 25, 25, 29, 33, 34, 34, 32, 35, 25, 24, 30, 32, 15, 29, 36, 38, 27, 32, 30, 20, 22, 33, 22, 35, 30, 24, 38, 20, 26, 30, 18, 23, 37, 29, 24, 32, 31, 35, 26, 28, 36, 28, 36, 23, 33, 24, 30, 37, 33, 30, 29, 15, 28, 27, 19, 29, 25, 28, 37, 21, 18, 27, 26, 34, 22, 30, 16, 29, 22, 14, 21, 32, 15, 35, 17, 34, 19, 28, 25, 21, 30, 17, 19, 17, 27, 17, 25, 35, 33, 41, 26, 28, 32, 28, 29, 29, 21, 35, 23, 26, 21, 16, 21, 36, 27, 19, 22, 28, 19, 24, 29, 39, 22, 14, 26, 24, 16, 28, 14, 24, 29, 22, 31, 21, 26, 36, 21, 29, 30, 29, 16, 31, 35, 21, 35, 37, 25, 22, 23, 13, 29, 25, 14, 18, 17, 38, 37, 24, 26, 23, 19, 27, 37, 33, 35, 30, 31, 22, 21, 34, 29, 28, 28, 32, 26, 20, 21, 38, 22, 34, 35, 32, 34, 34, 30, 27, 15, 32, 20, 25, 26, 25, 34, 13, 18, 33, 26, 23, 34, 24, 32, 26, 25, 29, 26, 23, 34, 34, 18, 24, 26, 26, 27, 29, 22, 32, 1, 28, 21, 28, 32, 17, 26, 30, 30, 38, 26, 24, 26, 23, 30, 26, 29, 19, 31, 30, 40, 28, 24, 27, 21, 28, 25, 18, 26, 25, 15, 28, 30, 28, 32, 32, 22, 30, 30, 17, 28, 26, 19, 32, 22, 16, 26, 18, 29, 34, 27, 35, 37, 29, 33, 29, 21, 22, 19, 30, 22, 27, 28, 19, 17, 34, 28, 28, 26, 19, 21, 20, 20, 28, 22, 23, 30, 22, 32, 23, 21, 36, 21, 25, 31, 19, 26, 32, 35, 13, 28, 34, 23, 32, 28, 17, 38, 20, 32, 36, 33, 22, 26, 22, 19, 33, 36, 36, 30, 18, 22, 30, 30, 31, 20, 22, 25, 24, 39, 26, 28, 21, 29, 27, 24, 27, 35, 29, 15, 15, 34, 29, 28, 32, 24, 35, 21, 20, 32, 30, 28, 32, 37, 33, 20, 19, 28, 30, 30, 29, 20, 28, 27, 37, 22, 38, 25, 20, 22, 23, 21, 26, 22, 29, 27, 19, 31, 25, 29, 36, 28, 33, 22, 27, 29, 31, 37, 30, 25, 37, 41, 20, 31, 29, 27, 26, 25, 23, 20, 30, 24, 41, 19, 26, 30, 26, 29, 22, 33, 38, 35, 39, 19, 23, 25, 34, 26, 24, 22, 18, 25, 43, 26, 32, 27, 39, 31, 31, 24, 17, 29, 24, 14, 33, 28, 23, 16, 28, 19, 34, 18, 28, 36, 32, 28, 35, 27, 25, 25, 29, 22, 21, 23, 16, 13, 29, 28, 27, 24, 20, 25, 32, 18, 15, 25, 18, 26, 28, 33, 30, 31, 41, 32, 31, 37, 28, 33, 18, 23, 36, 21, 25, 33, 25, 24, 35, 33, 31, 33, 31, 20, 19, 27, 18, 40, 31, 26, 29, 28, 21, 25, 17, 27, 35, 28, 21, 27, 30, 27, 27, 26, 30, 34, 26, 27, 30, 31, 18, 29, 28, 19, 45, 16, 26, 24, 29, 26, 15, 29, 41, 23, 36, 34, 35, 29, 25, 32, 23, 31, 29, 30, 38, 30, 25, 18, 36, 39, 26, 38, 31, 20, 32, 18, 25, 23, 30, 28, 24, 39, 33, 28, 35, 26, 25, 28, 36, 38, 30, 27, 26, 15, 23, 18, 31, 29, 20, 35, 32, 21, 35, 27, 27, 31, 23, 22, 19, 27, 29, 23, 33, 38, 20, 25, 26, 26, 27, 32, 25, 28, 27, 29, 28, 26, 13, 18, 38, 15, 27, 23, 21, 36, 36, 32, 24, 25, 28, 32, 30, 27, 31, 24, 24, 31, 28, 28, 24, 18, 9, 35, 18, 36, 21, 32, 24, 25, 18, 18, 23, 20, 24, 24, 47, 29, 20, 20, 28, 23, 35, 29, 31, 27, 29, 19, 22, 17, 27, 34, 23, 27, 29, 27, 29, 25, 28, 28, 22, 22, 27, 23, 25, 30, 32, 23, 34, 28, 24, 24, 24, 36, 25, 24, 31, 17, 15, 30, 23, 31, 32, 24, 26, 16, 22, 16, 23, 31, 23, 24, 25, 24, 39, 27, 27, 34, 32, 31, 19, 22, 25, 28, 37, 16, 23, 19, 25, 25, 24, 25, 35, 32, 29, 17, 40, 30, 30, 22, 23, 31, 25, 30, 15, 25, 24, 35, 27, 23, 35, 24, 38, 18, 26, 24, 27, 24, 29, 31, 22, 18, 17, 28, 25, 30, 17, 31, 21, 18, 20, 23, 22, 32, 31, 27, 19, 29, 38, 39, 21, 19, 33, 41, 24, 19, 32, 31, 25, 30, 20, 34, 21, 31, 28, 23, 28, 37, 28, 22, 22, 29, 20, 25, 42, 31, 13, 25, 30, 25, 28, 27, 21, 38, 31, 30, 33, 31, 32, 19, 25, 30, 24, 26, 39, 29, 14, 26, 32, 25, 25, 34, 29, 25, 30, 26, 31, 27, 15, 20, 26, 12, 29, 37, 30, 30, 17, 22, 29, 29, 21, 32, 31, 28, 24, 20, 15, 30, 18, 35, 17, 26, 24, 25, 26, 22, 30, 31, 29, 18, 20, 32, 30, 24, 21, 30, 32, 21, 27, 30, 26, 23, 22, 30, 27, 27, 30, 19, 22, 22, 29, 27, 32, 25, 36, 21, 21, 31, 29, 29, 46, 32, 25, 24, 22, 32, 25, 26, 29, 18, 21, 38, 33, 30, 29, 18, 27, 25, 35, 22, 26, 23, 23, 17, 28, 22, 29, 12, 29, 31, 22, 28, 19, 34, 30, 25, 16, 29, 25, 33, 32, 34, 19, 26, 17, 29, 27, 27, 25, 28, 35, 26, 30, 29, 29, 26, 28, 41, 31, 33, 23, 32, 21, 35, 26, 28, 29, 18, 27, 24, 33, 23, 31, 23, 21, 25, 32, 25, 28, 36, 38, 20, 33, 35, 37, 19, 24, 27, 12, 39, 19, 27, 29, 29, 33, 33, 25, 37, 36, 31, 38, 29, 26, 24, 25, 23, 18, 20, 25, 21, 18, 33, 31, 23, 18, 20, 24, 18, 26, 15, 32, 33, 13, 35, 27, 21, 32, 28, 26, 27, 21, 23, 18, 23, 24, 29, 22, 25, 21, 29, 18, 22, 30, 26, 26, 27, 17, 33, 26, 30, 33, 29, 22, 21, 22, 19, 20, 35, 34, 25, 25, 33, 34, 21, 29, 22, 24, 28, 35, 22, 30, 23, 22, 33, 26, 25, 28, 24, 22, 22, 24, 16, 21, 19, 19, 26, 16, 19, 21, 19, 24, 25, 16, 21, 27, 21, 31, 25, 33, 19, 36, 33, 26, 24, 22, 26, 27, 19, 32, 33, 22, 26, 20, 35, 24, 22, 24, 30, 31, 22, 29, 28, 22, 32, 22, 35, 22, 23, 27, 23, 29, 27, 27, 24, 38, 27, 20, 34, 21, 25, 36, 33, 30, 36, 35, 12, 19, 24, 28, 25, 23, 13, 24, 28, 29, 29, 22, 21, 28, 23, 22, 23, 22, 33, 25, 18, 23, 20, 21, 28, 29, 25, 28, 13, 25, 30, 24, 26, 31, 17, 25, 42, 35, 34, 37, 20, 39, 22, 29, 19, 26, 32, 21, 17, 25, 21, 24, 30, 23, 34, 37, 24, 17, 28, 29, 36, 25, 17, 27, 27, 41, 24, 17, 29, 34, 16, 34, 21, 40, 18, 33, 27, 31, 27, 26, 30, 16, 44, 25, 23, 32, 22, 31, 17, 24, 20, 33, 25, 25, 33, 26, 19, 26, 21, 30, 21, 24, 34, 28, 28, 27, 30, 28, 26, 39, 18, 29, 27, 29, 32, 26, 22, 30, 28, 25, 35, 24, 15, 29, 27, 22, 34, 17, 14, 34, 19, 30, 25, 39, 28, 20, 30, 24, 24, 31, 28, 33, 21, 23, 23, 25, 16, 28, 29, 24, 20, 26, 25, 24, 20, 24, 22, 36, 27, 43, 24, 25, 27, 29, 26, 29, 16, 18, 29, 42, 27, 26, 31, 36, 29, 31, 32, 26, 19, 38, 30, 31, 24, 25, 20, 21, 28, 19, 34, 23, 27, 35, 20, 15, 20, 25, 23, 19, 37, 21, 27, 33, 34, 28, 28, 31, 28, 28, 23, 30, 19, 25, 28, 25, 20, 19, 36, 34, 37, 30, 27, 26, 17, 23, 26, 19, 27, 20, 36, 29, 42, 18, 21, 22, 17, 30, 30, 29, 27, 25, 34, 30, 27, 26, 27, 42, 35, 33, 11, 28, 18, 21, 12, 39, 23, 25, 34, 20, 26, 30, 32, 25, 25, 25, 34, 20, 28, 20, 19, 28, 29, 33, 27, 23, 26, 20, 25, 23, 22, 8, 32, 27, 33, 29, 32, 14, 26, 21, 33, 32, 29, 23, 31, 23, 27, 32, 23, 27, 33, 26, 24, 30, 19, 30, 36, 27, 34, 25, 34, 27, 27, 20, 35, 15, 38, 18, 25, 41, 31, 24, 19, 36, 33, 28, 34, 22, 25, 19, 35, 32, 23, 25, 25, 31, 31, 25, 22, 27, 25, 27, 29, 28, 24, 38, 33, 30, 32, 18, 25, 16, 30, 16, 32, 23, 18, 21, 31, 28, 14, 25, 28, 29, 32, 25, 15, 27, 18, 22, 20, 22, 14, 25, 23, 30, 26, 27, 32, 25, 30, 31, 18, 22, 27, 29, 16, 32, 24, 27, 24, 20, 26, 22, 29, 22, 26, 24, 22, 26, 24, 28, 29, 35, 34, 29, 29, 17, 28, 38, 38, 44, 27, 22, 31, 22, 21, 26, 23, 36, 27, 28, 29, 28, 15, 28, 36, 20, 27, 22, 25, 25, 34, 26, 30, 18, 34, 34, 29, 32, 32, 37, 16, 27, 25, 22, 24, 28, 27, 26, 24, 31, 27, 20, 21, 32, 22, 30, 32, 23, 22, 29, 27, 31, 23, 25, 28, 23, 18, 31, 24, 23, 29, 33, 33, 24, 14, 26, 30, 35, 28, 17, 31, 18, 23, 28, 39, 29, 25, 13, 25, 25, 20, 31, 22, 19, 25, 27, 32, 17, 31, 13, 26, 30, 29, 25, 18, 31, 25, 29, 36, 19, 28, 19, 21, 30, 28, 27, 29, 33, 32, 28, 19, 25, 30, 19, 19, 28, 33, 28, 27, 30, 33, 18, 27, 37, 24, 35, 17, 29, 27, 27, 19, 26, 15, 24, 35, 20, 28, 21, 25, 27, 23, 27, 31, 19, 25, 29, 29, 43, 29, 21, 25, 22, 24, 36, 15, 26, 27, 21, 32, 30, 23, 19, 25, 36, 22, 21, 15, 32, 18, 32, 20, 19, 23, 19, 22, 14, 20, 26, 22, 22, 24, 27, 33, 12, 25, 21, 27, 30, 30, 30, 42, 24, 28, 34, 22, 33, 30, 25, 31, 35, 23, 30, 21, 15, 24, 26, 34, 20, 27, 14, 23, 20, 18, 20, 26, 36, 20, 37, 39, 24, 32, 35, 24, 27, 28, 31, 27, 25, 18, 23, 22, 24, 28, 35, 29, 34, 17, 31, 27, 24, 20, 28, 25, 24, 27, 24, 34, 25, 24, 26, 32, 22, 24, 27, 26, 19, 22, 20, 26, 31, 21, 26, 28, 30, 37, 26, 27, 44, 35, 16, 25, 29, 28, 31, 34, 27, 26, 25, 23, 26, 22, 28, 30, 25, 39, 29, 15, 27, 21, 26, 25, 35, 28, 19, 24, 22, 18, 23, 19, 22, 23, 23, 26, 23, 28, 23, 29, 30, 24, 22, 27, 35, 18, 30, 20, 23, 18, 23, 27, 25, 24, 32, 20, 23, 23, 26, 25, 22, 22, 26, 29, 34, 34, 26, 19, 33, 21, 26, 20, 28, 21, 24, 17, 22, 31, 16, 26, 17, 32, 21, 20, 28, 17, 24, 22, 37, 22, 22, 19, 23, 24, 24, 18, 29, 29, 23, 31, 28, 13, 20, 30, 31, 24, 27, 26, 25, 25, 22, 24, 30, 22, 29, 25, 25, 31, 36, 26, 32, 21, 26, 21, 18, 18, 23, 31, 19, 21, 19, 17, 33, 34, 34, 27, 26, 34, 19, 25, 25, 30, 30, 32, 28, 30, 27, 22, 35, 20, 23, 25, 28, 30, 19, 17, 21, 22, 34, 20, 21, 22, 26, 22, 36, 24, 22, 28, 22, 26, 21, 23, 26, 27, 27, 33, 23, 27, 26, 29, 29, 30, 23, 38, 19, 26, 24, 38, 31, 29, 21, 31, 18, 33, 32, 18, 24, 27, 41, 35, 36, 28, 24, 27, 28, 22, 25, 19, 16, 21, 46, 21, 26, 26, 33, 25, 21, 32, 24, 31, 30, 29, 29, 31, 20, 29, 28, 16, 20, 27, 22, 33, 26, 29, 17, 29, 32, 23, 28, 26, 19, 18, 18, 30, 21, 29, 31, 32, 29, 21, 23, 30, 22, 21, 24, 23, 26, 19, 16, 24, 35, 26, 18, 37, 24, 31, 34, 24, 35, 22, 27, 23, 29, 30, 13, 18, 18, 37, 26, 27, 34, 26, 31, 19, 28, 23, 24, 25, 25, 29, 29, 28, 34, 31, 23, 29, 22, 15, 22, 29, 24, 30, 22, 17, 20, 29, 27, 27, 18, 30, 35, 28, 18, 26, 31, 26, 24, 15, 29, 29, 23, 37, 26, 25, 25, 25, 24, 33, 21, 16, 15, 19, 17, 20, 36, 14, 21, 27, 35, 26, 29, 31, 29, 24, 14, 21, 24, 21, 30, 27, 20, 29, 17, 20, 21, 24, 24, 24, 31, 19, 30, 32, 31, 24, 29, 29, 14, 26, 20, 25, 22, 26, 22, 32, 31, 33, 30, 25, 28, 27, 25, 21, 34, 18, 21, 14, 21, 30, 29, 29, 21, 24, 22, 34, 29, 20, 20, 29, 36, 20, 23, 18, 26, 31, 23, 22, 32, 22, 30, 32, 24, 28, 30, 36, 29, 30, 21, 36, 30, 14, 25, 27, 28, 25, 25, 38, 28, 39, 25, 35, 28, 25, 18, 29, 30, 24, 34, 35, 23, 18, 29, 22, 28, 29, 22, 36, 25, 34, 14, 30, 16, 14, 18, 37, 33, 18, 14, 16, 31, 29, 18, 21, 16, 16, 29, 25, 21, 28, 19, 26, 28, 17, 35, 20, 28, 28, 16, 21, 33, 33, 32, 23, 27, 36, 20, 26, 20, 23, 16, 33, 34, 28, 21, 25, 29, 16, 33, 27, 27, 13, 17, 14, 38, 25, 18, 33, 23, 22, 28, 23, 32, 31, 17, 21, 18, 30, 22, 21, 26, 22, 22, 32, 24, 28, 26, 28, 36, 27, 26, 36, 32, 20, 36, 25, 18, 24, 22, 14, 37, 21, 21, 19, 24, 29, 16, 19, 25, 40, 27, 16, 23, 22, 21, 35, 29, 22, 29, 24, 23, 15, 28, 26, 32, 14, 25, 25, 27, 23, 29, 23, 18, 24, 32, 32, 22, 22, 28, 28, 17, 26, 25, 27, 18, 41, 33, 32, 29, 22, 38, 15, 21, 35, 22, 28, 23, 17, 27, 23, 28, 27, 21, 26, 31, 25, 23, 28, 26, 28, 32, 19, 20, 19, 25, 21, 14, 18, 24, 29, 22, 15, 27, 28, 21, 24, 25, 29, 21, 26, 21, 26, 27, 24, 33, 29, 24, 18, 33, 23, 29, 22, 32, 36, 29, 36, 35, 14, 21, 24, 22, 23, 20, 24, 24, 40, 30, 28, 36, 30, 15, 29, 32, 29, 25, 32, 28, 16, 22, 30, 34, 32, 20, 25, 19, 23, 17, 22, 29, 22, 22, 21, 31, 20, 33, 20, 28, 26, 19, 21, 25, 24, 23, 18, 32, 28, 25, 28, 15, 30, 35, 23, 33, 31, 30, 16, 18, 30, 38, 19, 38, 22, 27, 17, 17, 28, 19, 14, 42, 25, 20, 27, 21, 24, 25, 28, 27, 20, 28, 36, 29, 29, 27, 22, 28, 38, 22, 22, 21, 21, 25, 32, 26, 16, 15, 22, 27, 17, 23, 31, 33, 28, 26, 22, 30, 18, 29, 19, 21, 21, 39, 37, 27, 17, 23, 32, 25, 31, 18, 19, 27, 26, 16, 23, 25, 23, 1, 21, 28, 9, 33, 12, 26, 28, 25, 24, 37, 31, 30, 32, 29, 30, 19, 30, 18, 13, 29, 20, 31, 19, 28, 12, 18, 25, 30, 25, 21, 24, 19, 22, 19, 32, 30, 15, 27, 23, 20, 29, 40, 30, 21, 39, 23, 41, 27, 26, 21, 24, 24, 21, 25, 22, 32, 13, 27, 10, 22, 25, 23, 24, 21, 30, 20, 20, 21, 34, 17, 26, 22, 28, 28, 23, 27, 28, 18, 30, 31, 24, 16, 23, 36, 25, 27, 22, 29, 35, 25, 28, 20, 18, 33, 34, 23, 29, 28, 29, 29, 26, 34, 21, 33, 20, 30, 32, 21, 19, 28, 30, 22, 18, 19, 23, 21, 28, 15, 24, 22, 12, 27, 27, 29, 24, 27, 23, 13, 32, 31, 27, 18, 21, 30, 21, 22, 20, 28, 25, 33, 23, 20, 21, 18, 30, 25, 21, 18, 33, 21, 24, 23, 18, 30, 41, 17, 17, 18, 12, 24, 33, 23, 17, 34, 22, 25, 20, 24, 17, 17, 22, 22, 21, 19, 25, 21, 15, 25, 27, 27, 29, 31, 27, 28, 24, 20, 26, 32, 32, 25, 20, 24, 32, 23, 30, 28, 16, 30, 25, 24, 24, 40, 17, 20, 18, 28, 35, 30, 29, 28, 14, 27, 24, 15, 23, 18, 32, 18, 26, 21, 22, 43, 37, 21, 27, 28, 39, 26, 25, 31, 25, 21, 24, 22, 21, 16, 22, 24, 20, 30, 20, 13, 19, 26, 29, 21, 26, 22, 19, 30, 34, 27, 16, 28, 24, 24, 23, 33, 24, 26, 26, 22, 24, 30, 23, 32, 27, 28, 26, 33, 19, 22, 20, 20, 27, 32, 21, 25, 31, 24, 21, 34, 25, 18, 25, 24, 20, 16, 29, 26, 27, 34, 12, 21, 22, 30, 32, 27, 18, 27, 36, 20, 26, 22, 19, 28, 23, 19, 11, 27, 38, 20, 22, 29, 21, 29, 17, 16, 27, 13, 25, 23, 25, 20, 25, 32, 11, 24, 31, 14, 27, 20, 17, 24, 27, 19, 15, 32, 25, 32, 18, 13, 17, 26, 18, 29, 27, 26, 28, 37, 30, 20, 26, 26, 24, 17, 22, 19, 19, 29, 33, 17, 30, 35, 16, 15, 34, 33, 19, 28, 21, 25, 22, 27, 25, 25, 27, 26, 25, 18, 24, 30, 32, 19, 23, 20, 30, 22, 22, 27, 32, 29, 22, 19, 26, 22, 34, 35, 16, 22, 21, 38, 32, 25, 26, 17, 30, 23, 22, 20, 17, 24, 19, 21, 30, 16, 29, 24, 31, 31, 21, 21, 13, 26, 19, 18, 25, 30, 28, 25, 22, 16, 26, 22, 24, 24, 27, 20, 23, 31, 30, 20, 22, 17, 24, 14, 15, 28, 21, 25, 32, 22, 22, 29, 22, 22, 19, 21, 32, 33, 27, 28, 24, 24, 28, 24, 27, 29, 25, 31, 21, 21, 21, 22, 22, 21, 19, 33, 27, 25, 19, 36, 32, 16, 18, 27, 21, 18, 19, 17, 27, 22, 42, 23, 21, 14, 22, 23, 29, 16, 33, 23, 25, 26, 16, 17, 35, 29, 22, 22, 25, 24, 26, 26, 20, 27, 23, 22, 26, 22, 27, 33, 18, 21, 32, 17, 24, 25, 19, 26, 36, 26, 19, 29, 12, 27, 20, 21, 20, 25, 28, 24, 14, 20, 23, 25, 20, 15, 22, 25, 21, 24, 23, 24, 22, 21, 33, 26, 33, 21, 21, 22, 25, 40, 16, 22, 21, 17, 24, 24, 21, 29, 19, 20, 19, 19, 30, 14, 15, 29, 21, 26, 22, 28, 18, 22, 17, 20, 25, 25, 36, 21, 28, 29, 22, 25, 30, 21, 20, 26, 28, 19, 29, 31, 20, 25, 19, 22, 24, 17, 14, 33, 17, 30, 25, 18, 14, 29, 30, 24, 14, 28, 24, 31, 34, 19, 27, 26, 27, 29, 19, 17, 17, 23, 38, 33, 31, 32, 23, 26, 22, 24, 28, 30, 27, 20, 27, 28, 12, 14, 16, 25, 21, 18, 25, 23, 22, 23, 25, 11, 23, 18, 28, 14, 25, 29, 21, 23, 19, 21, 35, 32, 24, 19, 22, 28, 25, 27, 22, 22, 16, 18, 29, 21, 25, 15, 24, 22, 18, 18, 18, 23, 20, 31, 23, 21, 27, 21, 18, 16, 16, 26, 24, 37, 23, 25, 18, 26, 15, 32, 18, 29, 31, 29, 34, 14, 24, 27, 15, 29, 20, 13, 24, 21, 13, 25, 17, 21, 23, 22, 25, 30, 36, 28, 25, 12, 32, 24, 16, 21, 15, 18, 22, 29, 22, 31, 18, 29, 21, 18, 23, 19, 20, 17, 28, 17, 20, 15, 13, 20, 16, 24, 22, 23, 16, 16, 28, 27, 27, 30, 19, 31, 16, 26, 19, 23, 17, 17, 31, 28, 25, 30, 22, 29, 15, 15, 22, 21, 37, 29, 29, 25, 13, 31, 29, 17, 23, 15, 26, 30, 27, 27, 17, 16, 17, 16, 19, 24, 27, 22, 17, 25, 30, 23, 13, 22, 20, 27, 26, 27, 18, 19, 17, 26, 23, 28, 29, 22, 14, 21, 35, 23, 21, 20, 16, 16, 17, 17, 24, 25, 21, 17, 22, 19, 32, 24, 31, 17, 19, 13, 27, 14, 19, 20, 25, 18, 32, 15, 38, 26, 35, 15, 21, 8, 16, 13, 21, 20, 21, 10, 30, 17, 16, 22, 19, 21, 16, 28, 1, 15, 16, 15, 22, 14, 22, 27, 30, 14, 18, 20, 16, 1, 30, 23, 28, 14, 27, 23, 11, 17, 19, 17, 28, 21, 17, 14, 18, 24, 29, 21, 27, 21, 22, 21, 12, 27, 19, 18, 20, 20, 20, 16, 35, 20, 16, 20, 14, 16, 20, 1, 21, 18, 16, 20, 16, 15, 1, 1, 1, 1, 1])

In [0]:

large_dataset = "Large_employee.csv"
import pandas as pd
df = pd.read_csv(large_dataset)
columns = df.columns.values

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
print(df.shape)

outliers=[]
def detect_outlier(data_1):
  threshold=3
  mean_1 = np.mean(data_1)
  std_1 =np.std(data_1)

  for y in data_1:
    print("y")
    z_score= (y - mean_1)/std_1 
    if np.abs(z_score) > threshold:
      outliers.append(y)
  return outliers


outlier_datapoints = detect_outlier(df['Salary'][:10]) #25 outliers
# outlier_datapoints = detect_outlier(df['Age in Yrs.']) #7 outliers
# print(outlier_datapoints)
# print(len(outliers))

### Summary

To know more about Pandas, you can refer below link :

https://www.machinelearningplus.com/python/101-pandas-exercises-python/

## Please answer the questions below to complete the experiment:

In [0]:
#@title How was the experiment? { run: "auto", form-width: "500px", display-mode: "form" }
Complexity = " " #@param ["Too Simple, I am wasting time", "Good, But Not Challenging for me", "Good and Challenging for me", "Was Tough, but I did it", "Too Difficult for me"]

In [0]:
#@title If it was very easy, what more you would have liked to have been added? If it was very difficult, what would you have liked to have been removed? { run: "auto", display-mode: "form" }
Additional = "" #@param {type:"string"}

In [0]:
#@title Can you identify the concepts from the lecture which this experiment covered? { run: "auto", vertical-output: true, display-mode: "form" }
Concepts = " " #@param ["Yes", "No"]

In [0]:
#@title Run this cell to submit your notebook for grading { vertical-output: true }
try:
  if submission_id:
      return_id = submit_notebook()
      if return_id : submission_id =return_id
  else:
      print("Please complete the setup first.")
except NameError:
  print ("Please complete the setup first.")